* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

input {
  border-style: none;
}

button {
  border-style: none;
  background: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}
